.overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #555;
    z-index: 1000;
    opacity: .40;
}

.overlay.separateTab {
    background-image: url(/img/wizard_background_v3_654x446.png);
    background-repeat: repeat;
    filter: brightness(0.5) blur(1px);
    opacity: 1 !important;
}

.atcs-site-dialog {

    /* wrapper */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 11000000000;

    overflow: hidden !important;
    width: 95% !important;
    max-width: 500px !important;
    padding: 0 !important;
    border-width: 0 !important;
    border-radius: 5px !important;
    background: transparent !important;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3) !important;
    font: 16px 'Roboto', Arial, sans-serif !important;
    font-family: 'Roboto', Arial, sans-serif !important;
    display: block !important;
    line-height: normal !important;


    /* initial */
    position: absolute !important;
    height: -webkit-fit-content !important;
    color: black !important;
    margin: auto !important;
    border-style: solid !important;
    border-color: initial !important;
    border-image: initial !important;
}

.atcs-site-dialog h1 {
    font-size: 16px !important;
    font-weight: normal !important;
    margin: 0 !important;
    color: #fff !important;
    font: 16px 'Roboto', Arial, sans-serif !important;
}

.atcs-site-dialog p {
    font-size: 14px !important;
    font: 14px 'Roboto', Arial, sans-serif !important;
}

.atcs-site-dialog .dialog-header {
    padding: 12px 20px !important;
    background-color: #68a3de !important;
    height: auto !important;
    position: relative !important;
    min-width: inherit !important;
}

.atcs-site-dialog .dialog-content {
    padding: 30px 20px !important;
    color: #555 !important;
    background-color: #fff !important;
}

.atcs-site-dialog .dialog-content p:last-of-type, .atcs-site-dialog .dialog-content p:only-child {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font: 14px 'Roboto', Arial, sans-serif !important;
}

.atcs-site-dialog .btn-group {
    padding: 9px 10px !important;
    text-align: right !important;
    background-color: #e6e9ed !important;
}

.atcsbtn {
    padding: 10px 15px !important;
    cursor: pointer !important;
    color: #555 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    background-color: #f3f3f3 !important;
    text-transform: none !important;
    font: 13.3px Arial, sans-serif !important;
    box-shadow: none !important;
    margin: 0px !important;
    margin-left: 6px !important
}

.btn-danger {
    color: #fff !important;
    border-color: #73aae2 !important;
    background-color: #71b2f3 !important;
}

.btn-danger:hover {
    background-color: #79bcff !important; /* d 5% */
}

.btn-cancel {
    color: #666 !important;
    border-color: #ddd !important;
}

.btn-cancel:hover {
    background-color: #f3f3f3 !important; /* d 5% */
}


/*****************Content**********************/

.pattern {
    margin-top: 3px !important;
    width: 100%;
}

.sliders {
    margin-top: 33px;
}

.slider-span {
    display: table-cell;
    vertical-align: middle;
}

.slider-span.page {
    padding-left: 15px;
}

#siteSlider, #pageSlider {
    width: 175px;
}
